In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model

In [143]:
# https://www.kaggle.com/soroushghaderi/chocolate-bar-2020
choco = pd.read_csv("chocolate.csv", comment="#")
choco.head()

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,0,2454,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,blackberry,full body,NaN
1,1,2458,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,vegetal,savory,NaN
2,2,2454,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,rich cocoa,fatty,bready,NaN
3,3,797,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,fruity,melon,roasty,NaN
4,4,797,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,...,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,vegetal,nutty,NaN,NaN

## Chcę zbadać zależność składu czekolady od jej oceny, więc odrzucam część zmiennych

In [144]:
choco.drop([
    "Unnamed: 0",
    "ref", "company", "company_location", "review_date",
    "country_of_bean_origin", "specific_bean_origin_or_bar_name",
    "first_taste", "second_taste", "third_taste", "fourth_taste"
], axis=1, inplace=True)
choco.head()

,cocoa_percent,rating,counts_of_ingredients,beans,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,76.0,3.75,3,have_bean,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
1,76.0,3.50,3,have_bean,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
2,76.0,3.25,3,have_bean,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
3,63.0,3.75,4,have_bean,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
4,70.0,3.50,4,have_bean,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar

In [145]:
for name, column in choco.items():
    print(name + ':', np.unique(column))

cocoa_percent: [ 42.   46.   50.   53.   55.   56.   57.   58.   60.   60.5  61.   62.
  63.   64.   65.   66.   67.   68.   69.   70.   71.   71.5  72.   72.5
  73.   73.5  74.   75.   76.   77.   78.   79.   80.   81.   82.   83.
  84.   85.   86.   87.   88.   89.   90.   91.   99.  100. ]
rating: [1.   1.5  1.75 2.   2.25 2.5  2.6  2.75 3.   3.25 3.5  3.75 4.  ]
counts_of_ingredients: [1 2 3 4 5 6]
beans: ['have_bean']
cocoa_butter: ['have_cocoa_butter' 'have_not_cocoa_butter']
vanilla: ['have_not_vanila' 'have_vanila']
lecithin: ['have_lecithin' 'have_not_lecithin']
salt: ['have_not_salt' 'have_salt']
sugar: ['have_not_sugar' 'have_sugar']
sweetener_without_sugar: ['have_not_sweetener_without_sugar' 'have_sweetener_without_sugar']

## Zmienna beans posiada tylko jedną unikalną wartość, więc nie powinna mieć wpływu na wynik

In [146]:
choco.drop("beans", axis=1, inplace=True)
choco.head()

,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,76.0,3.75,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
1,76.0,3.50,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
2,76.0,3.25,3,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
3,63.0,3.75,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar
4,70.0,3.50,4,have_cocoa_butter,have_not_vanila,have_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar

In [147]:
choco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cocoa_percent            2224 non-null   float64
 1   rating                   2224 non-null   float64
 2   counts_of_ingredients    2224 non-null   int64
 3   cocoa_butter             2224 non-null   object
 4   vanilla                  2224 non-null   object
 5   lecithin                 2224 non-null   object
 6   salt                     2224 non-null   object
 7   sugar                    2224 non-null   object
 8   sweetener_without_sugar  2224 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 156.5+ KB

## Następnie zajmę się formatem zmiennych

```
cocoa_butter: ['have_cocoa_butter' 'have_not_cocoa_butter']
vanilla: ['have_not_vanila' 'have_vanila']
lecithin: ['have_lecithin' 'have_not_lecithin']
salt: ['have_not_salt' 'have_salt']
sugar: ['have_not_sugar' 'have_sugar']
sweetener_without_sugar: ['have_not_sweetener_without_sugar' 'have_sweetener_without_sugar']
```

### Powyższe zmienne można z łatwością zamienić na zmienne logiczne

In [148]:
import re

cols = [
    "cocoa_butter", "vanilla",
    "lecithin", "salt", "sugar",
    "sweetener_without_sugar"
]

regex = re.compile("^have_not_")
str_to_bool = lambda s: not bool(regex.match(s))

for col in cols:
    choco[col] = choco[col].map(str_to_bool)

choco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cocoa_percent            2224 non-null   float64
 1   rating                   2224 non-null   float64
 2   counts_of_ingredients    2224 non-null   int64
 3   cocoa_butter             2224 non-null   bool
 4   vanilla                  2224 non-null   bool
 5   lecithin                 2224 non-null   bool
 6   salt                     2224 non-null   bool
 7   sugar                    2224 non-null   bool
 8   sweetener_without_sugar  2224 non-null   bool
dtypes: bool(6), float64(2), int64(1)
memory usage: 65.3 KB

## Możemy także znormalizować ilość procentów

In [149]:
choco.cocoa_percent = choco.cocoa_percent / max(choco.cocoa_percent)
choco.describe()

       cocoa_percent       rating  counts_of_ingredients
count    2224.000000  2224.000000            2224.000000
mean        0.714939     3.198561               3.075989
std         0.052783     0.434329               0.929875
min         0.420000     1.000000               1.000000
25%         0.700000     3.000000               2.000000
50%         0.700000     3.250000               3.000000
75%         0.740000     3.500000               4.000000
max         1.000000     4.000000               6.000000

In [150]:
choco.shape

(2224, 9)

In [151]:
choco.iloc[:, 0:11].describe().round(1).T.iloc[:, 1:]

                       mean  std  min  25%  50%  75%  max
cocoa_percent           0.7  0.1  0.4  0.7  0.7  0.7  1.0
rating                  3.2  0.4  1.0  3.0  3.2  3.5  4.0
counts_of_ingredients   3.1  0.9  1.0  2.0  3.0  4.0  6.0

In [152]:
choco.corr("pearson")

,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
cocoa_percent,1.000000,-0.078508,-0.189490,-0.107737,-0.126034,-0.151743,-0.028162,-0.085909,0.008893
rating,-0.078508,1.000000,-0.094850,0.012224,-0.164881,-0.070179,-0.051381,0.092216,-0.087438
counts_of_ingredients,-0.189490,-0.094850,1.000000,0.751362,0.687676,0.738399,0.182218,0.041659,-0.012713
cocoa_butter,-0.107737,0.012224,0.751362,1.000000,0.259114,0.313168,0.079541,0.075317,-0.061312
vanilla,-0.126034,-0.164881,0.687676,0.259114,1.000000,0.364437,0.040741,0.018593,-0.012890
lecithin,-0.151743,-0.070179,0.738399,0.313168,0.364437,1.000000,-0.025389,0.073489,-0.068447
salt,-0.028162,-0.051381,0.182218,0.079541,0.040741,-0.025389,1.000000,-0.366304,0.381888
sugar,-0.085909,0.092216,0.041659,0.075317,0.018593,0.073489,-0.366304,1.000000,-0.961374
sweetener_without_sugar,0.008893,-0.087438,-0.012713,-0.061312,-0.012890,-0.068447,0.381888,-0.961374,1.000000

In [153]:
choco.corr("pearson").rating.sort_values()

vanilla                   -0.164881
counts_of_ingredients     -0.094850
sweetener_without_sugar   -0.087438
cocoa_percent             -0.078508
lecithin                  -0.070179
salt                      -0.051381
cocoa_butter               0.012224
sugar                      0.092216
rating                     1.000000
Name: rating, dtype: float64

In [154]:
corr_P = choco.corr("pearson")
corr_P_tri = corr_P.where(np.triu(np.ones(corr_P.shape, dtype=np.bool), k=1)).stack().sort_values()
corr_P_tri[abs(corr_P_tri)>0.5]

sugar                  sweetener_without_sugar   -0.961374
counts_of_ingredients  vanilla                    0.687676
                       lecithin                   0.738399
                       cocoa_butter               0.751362
dtype: float64

## Korelacja
### Cukier, oraz słodzik wykazują dużą korelację ujemną.
Jest to zrozumiałe, ponieważ słodzik jest zwykle zamiennikiem dla cukru. Postanowiłem nie usuwać na razie żadnej z tych zmiennych, ponieważ interesuje mnie, czy jest duża różnica w ocenach zbieranych przez czekoladę słodzoną słodzikiem.
### Liczba składników koreluje dosyć mocno z wanilią, lecytyną, oraz masłem kakaowym
Na stronie, z której pobrałem zestaw danych nie zostało przedstawione dokładne wyjaśnienie, jakie składniki obejmuje "liczba składników", co w połączeniu ze sporą korelacją tej zmiennej z innymi zmiennymi sprawia, że podejrzewam, że wliczane w nią mogą być właśnie te składniki. W związku z tym zdecydowałem się usunąć tą zmienną.

In [155]:
choco.drop("counts_of_ingredients", axis=1, inplace=True)
choco.head()

,cocoa_percent,rating,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,0.76,3.75,True,False,False,False,True,False
1,0.76,3.50,True,False,False,False,True,False
2,0.76,3.25,True,False,False,False,True,False
3,0.63,3.75,True,False,True,False,True,False
4,0.70,3.50,True,False,True,False,True,False

In [156]:
y = choco["rating"]
y.head()

0    3.75
1    3.50
2    3.25
3    3.75
4    3.50
Name: rating, dtype: float64

In [157]:
X = choco.drop("rating", axis=1)
X.head()

,cocoa_percent,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar
0,0.76,True,False,False,False,True,False
1,0.76,True,False,False,False,True,False
2,0.76,True,False,False,False,True,False
3,0.63,True,False,True,False,True,False
4,0.70,True,False,True,False,True,False

In [158]:
X_ucz, X_test, y_ucz, y_test = sklearn.model_selection.train_test_split(
    X, y, test_size=0.2, random_state=9063
)
print(X_ucz.shape)
print(X_test.shape)
print(y_ucz.shape)
print(y_test.shape)

(1779, 7)
(445, 7)
(1779,)
(445,)

In [159]:
import sklearn.linear_model
mnk = sklearn.linear_model.LinearRegression()

In [160]:
def fit_regression(X_ucz, X_test, y_ucz, y_test):
    r = sklearn.linear_model.LinearRegression()
    r.fit(X_ucz, y_ucz)
    y_ucz_pred = r.predict(X_ucz)
    y_test_pred = r.predict(X_test)
    r2 = sklearn.metrics.r2_score
    mse = sklearn.metrics.mean_squared_error
    mae = sklearn.metrics.mean_absolute_error
    return {
        "r_score_u": r2(y_ucz, y_ucz_pred),
        "r_score_t": r2(y_test, y_test_pred),
        "MSE_u": mse(y_ucz, y_ucz_pred),
        "MSE_t": mse(y_test, y_test_pred),
        "MAE_u": mae(y_ucz, y_ucz_pred),
        "MAE_t": mae(y_test, y_test_pred)
    }

In [161]:
params = ["Reg. liniowa"]
res = [fit_regression(X_ucz, X_test, y_ucz, y_test)]
pd.DataFrame(res, index=params)

              r_score_u  r_score_t     MSE_u   MSE_t     MAE_u     MAE_t
Reg. liniowa   0.045532   0.059639  0.183217  0.1645  0.346638  0.327334

### Przybliżę teraz wartość po przecinku zmiennej *rating*, aby zobaczyć jaki będzie miało to wpływ na zdolność modelu do przewidywania wartości

In [162]:
choco.rating = np.int64(choco.rating)
choco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cocoa_percent            2224 non-null   float64
 1   rating                   2224 non-null   int64
 2   cocoa_butter             2224 non-null   bool
 3   vanilla                  2224 non-null   bool
 4   lecithin                 2224 non-null   bool
 5   salt                     2224 non-null   bool
 6   sugar                    2224 non-null   bool
 7   sweetener_without_sugar  2224 non-null   bool
dtypes: bool(6), float64(1), int64(1)
memory usage: 47.9 KB

In [163]:
choco.describe()

       cocoa_percent       rating
count    2224.000000  2224.000000
mean        0.714939     2.815647
std         0.052783     0.497595
min         0.420000     1.000000
25%         0.700000     3.000000
50%         0.700000     3.000000
75%         0.740000     3.000000
max         1.000000     4.000000

In [164]:
X = choco.drop("rating", axis=1)
y = choco["rating"]
X_ucz, X_test, y_ucz, y_test = sklearn.model_selection.train_test_split(
    X, y, test_size=0.2, random_state=9063
)
params.append("Reg. liniowa, int rating")
res.append(fit_regression(X_ucz, X_test, y_ucz, y_test))
pd.DataFrame(res, index=params)

,r_score_u,r_score_t,MSE_u,MSE_t,MAE_u,MAE_t
Reg. liniowa,0.045532,0.059639,0.183217,0.164500,0.346638,0.327334
"Reg. liniowa, int rating",0.024523,0.019654,0.242242,0.238699,0.370598,0.366112

## Zaokrąglenie wartości zmiennych nie zdaje się mieć wpływu na działanie modelu. 

## Aby usprawnić model możemy spróbować usunąć zmienną o największej korelacji, której zdecydowałem się wcześniej nie usuwać - zawartość słodzika.
Możemy osiągnąć to, poprzez scalenie obu kolumn w jedną - zawierającą informację, czy czekolada zawiera słodzik, lub cukier

In [165]:
choco["sweetener"] = (choco.sugar | choco.sweetener_without_sugar)
choco.drop(["sugar", "sweetener_without_sugar"], axis=1, inplace=True)
choco

      cocoa_percent  rating  cocoa_butter  vanilla  lecithin   salt  sweetener
0              0.76       3          True    False     False  False       True
1              0.76       3          True    False     False  False       True
2              0.76       3          True    False     False  False       True
3              0.63       3          True    False      True  False       True
4              0.70       3          True    False      True  False       True
...             ...     ...           ...      ...       ...    ...        ...
2219           0.80       2          True    False     False   True       True
2220           0.75       3          True    False     False  False       True
2221           0.72       3          True    False     False  False       True
2222           0.70       3          True    False     False  False       True
2223           0.75       3          True    False     False  False       True

[2224 rows x 7 columns]

Mimo, że nie widać tego na widoku head, zmienna nadal zawiera wartości fałszywe

In [166]:
np.unique(choco.sweetener)

array([False,  True])

In [167]:
X = choco.drop("rating", axis=1)
y = choco["rating"]
X_ucz, X_test, y_ucz, y_test = sklearn.model_selection.train_test_split(
    X, y, test_size=0.2, random_state=9063
)
params.append("Reg. liniowa, sweet")
res.append(fit_regression(X_ucz, X_test, y_ucz, y_test))
pd.DataFrame(res, index=params)

,r_score_u,r_score_t,MSE_u,MSE_t,MAE_u,MAE_t
Reg. liniowa,0.045532,0.059639,0.183217,0.164500,0.346638,0.327334
"Reg. liniowa, int rating",0.024523,0.019654,0.242242,0.238699,0.370598,0.366112
"Reg. liniowa, sweet",0.020778,0.018051,0.243172,0.239089,0.372028,0.367949

## Połączenie kolumn nie dało rezultatów, możemy spróbować jeszcze w zupełności odrzucić zmienną

In [168]:
choco.drop("sweetener", axis=1, inplace=True)
choco

      cocoa_percent  rating  cocoa_butter  vanilla  lecithin   salt
0              0.76       3          True    False     False  False
1              0.76       3          True    False     False  False
2              0.76       3          True    False     False  False
3              0.63       3          True    False      True  False
4              0.70       3          True    False      True  False
...             ...     ...           ...      ...       ...    ...
2219           0.80       2          True    False     False   True
2220           0.75       3          True    False     False  False
2221           0.72       3          True    False     False  False
2222           0.70       3          True    False     False  False
2223           0.75       3          True    False     False  False

[2224 rows x 6 columns]

In [169]:
X = choco.drop("rating", axis=1)
y = choco["rating"]
X_ucz, X_test, y_ucz, y_test = sklearn.model_selection.train_test_split(
    X, y, test_size=0.2, random_state=9063
)
params.append("Reg. liniowa, drop sweet")
res.append(fit_regression(X_ucz, X_test, y_ucz, y_test))
pd.DataFrame(res, index=params)

,r_score_u,r_score_t,MSE_u,MSE_t,MAE_u,MAE_t
Reg. liniowa,0.045532,0.059639,0.183217,0.164500,0.346638,0.327334
"Reg. liniowa, int rating",0.024523,0.019654,0.242242,0.238699,0.370598,0.366112
"Reg. liniowa, sweet",0.020778,0.018051,0.243172,0.239089,0.372028,0.367949
"Reg. liniowa, drop sweet",0.020757,0.017968,0.243177,0.239109,0.372031,0.367964